@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,500);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
/** 1.1.2.	Icon Fonts **/
@import url("../sass/components/Vendor/font-awesome/font-awesome.min.css");
@import url("../sass/components/Vendor/simple-line-icon/css/simple-line-icons.css");
@import url("../sass/components/Vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css");
@import url("../sass/components/Vendor/pe-icon-7-stroke/css/helper.css");



html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 50px;
}
.header_inner{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header_logo{
    font-size: 40px;
    font-weight: 700;
    color: #817949;
    margin: 1 4px;
}

.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    color: #817949;
    margin: 0 15px;
    text-decoration: none;
    transition: color .2s linear;
    position: relative;

}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover{
    color: #95874e
}

.nav_link:hover:after {
    opacity: 1;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
}

a {
  color: #bc9e6b;
  text-decoration: none;
}

a:hover, a:focus {
  color: #967844;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  color: #161616;
  position: relative;
  font-weight: 400;
}

a {
  /* margin: 0; */
  padding: 0;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  position: relative;
  right: 0;
  left: 0px;
  margin: 0;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after {
    content: "";
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* width: 80%; */
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
}

a {
  color: #bc9e6b;
  text-decoration: none;
}

a:hover, a:focus {
  color: #967844;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@-ms-viewport {
  width: device-width;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  color: #161616;
  position: relative;
  font-weight: 400;
}

a {
  margin: 0;
  padding: 0;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  position: relative;
  right: 0;
  left: 0px;
}

/*Transition*/
body {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}



.social-v3 a:last-child() {
  margin-right: 0px;
}


/** 6.1. General **/
/** 6.2. Header **/
/** 6.2.1. General **/


/** 7. Templates Layout **/

@media (max-width: 767px) {
  .mockup-v2 .mockup-center .col-md-4:last-child() {
    margin-bottom: 0px;
  }
}


.container-news{
    padding-top: 30px;
    /* padding-left: 0px; */
}

body {
  margin: 0;
}

header {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* width: 80%; */
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

@-ms-viewport {
  width: device-width;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  color: #161616;
  position: relative;
  font-weight: 400;
}

h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

body {
  overflow-x: hidden;
  position: relative;
  right: 0;
  left: 0px;
}

/*Transition*/
body {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.box {
  display: inline-block;
  width: 100%;
}

.box {
  display: inline-block;
  width: 100%;
}

.link-v1 {
  font: 700 16px/38px "Roboto Condensed";
  color: #333;
  width: 180px;
  text-align: center;
  display: inline-block;
  border: 1px solid #e4e4e4;
  text-transform: uppercase;
  color: #333;
  transition: all 0.3s ease 0s;
}

.link-v1.color-brand {
  color: #bc9e6b;
  border-color: #bc9e6b;
  margin-top: 25px;
}

.link-v1:hover, .link-v1:focus {
  background: #bc9e6b;
  color: #fff;
  border-color: #bc9e6b;
}

.space-20 {
  margin-bottom: 10px !important;
}

.social-v3 a:last-child() {
  margin-right: 0px;
}

.container {
  width: 100%;
  padding: 0px 30px;
  /* top: -20px; */
  /* left: -20px; */
}

.container.container-ver2 {
  width: 1170px;
  padding: 170px 80px;
  width: 100%;
  top: -20px;
  /* left: -20px; */
}

@media (min-width: 1500px) {
  .container {
    padding: 0px 30px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0px 15px;
  }
  .container.container-ver2 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .mockup-v2 .mockup-center .col-md-4:last-child() {
    margin-bottom: 0px;
  }
}




input {
  line-height: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #bc9e6b;
  text-decoration: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}


element.style {
}
.nav_link {
    display: inline-block;
    vertical-align: top;
    color: #817949;
    margin: 0 15px;
    text-decoration: none;
    transition: color .2s linear;
    position: relative;
}
a, p, strong, ul, h1, h2, h3, h4, h5, h6 {
    /* margin: 0; */
    padding: 0;
}
a {
    color: #bc9e6b;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    color: #161616;
    position: relative;
    font-weight: 400;
}

.form-horizontal label.control-label {
  font-size: 15px;
  color: #333;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  font: 400 30px/30px "Playfair Display";
  text-transform: uppercase;
  position: relative;
}

.form-horizontal label.control-label {
  font-size: 15px;
  color: #333;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  font-family: "TXGB";
}

.form-control {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  color: #888888;
  padding: 9px 20px;
  line-height: 1.625;
  height: 47px;
  display: block;
  width: 100%;
  font: 400 12px "Poppins";
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control:focus {
  border-color: #ddd;
  box-shadow: none;
  outline: none;
}