@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,500);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);


body{
    margin: 0;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #7c6f46;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3{
    margin: 0;
}

.container1{
    width: 100%;
    max-width: 1000px;
    height: 50px;
    margin: 0 auto;
}

.container2{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro{
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100vh;
/*background: url(2.jpg) center no-repeat;*/
background-size: cover;
/*background: linear-gradient(#000000, 45%, #054026);*/
display: flex;
flex-direction: column;
padding: 10px 70px;
}

.intro_inner{
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
}

.intro_suptitle{
    font-size: 70px;
    color:beige;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    display: block;
    margin: auto;
    width: 600px;
    background-color: #565a3c;
    opacity: .80;
    border-radius: 10px;
}


.intro_title{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_title:after{

    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: 30px auto 30px;
    background-color: beige;

}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
}

.header_inner{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header_logo{
    font-size: 40px;
    font-weight: 700;
    color: #817949;
    margin: 0 30px;
    text-decoration: none;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
}

.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    color: beige;
    margin: 0 15px;
    text-decoration: none;
    transition: color .2s linear;
    position: relative;

}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover{
    color: #95874e
}

.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}

.nav_link.active {
    color: #fce38a;
}

/*___________________________*/

/*___________________________*/

.section{
    padding: 80px 0;
    background-color: #e5d4ad;
}

.section--beige{
    background-color: beige;
}

.section_i{
    padding: 10px 0;
    background-color: #e5d4ad;
}

.section_header{
    margin: 0 auto 40px;
    width:100%;
    max-width: 950px;
    text-align: center;

}

.section_subtitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color:#40311f;
}

.section_title{
    font-size: 30px;
    font-weight: 700;
    color:#2c2c09;
    text-transform: uppercase;
}

.section:after{
    content:"";
    display: block;
    height: 50px;
    background-color: bisque;
    margin: 30px auto 0;
}

.section_subtitle:before{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: 11px auto 15px;
    background-color: sienna;
}

.section_text{
    color: #241d1d;
    font-size: 15px;

}

/*---------------------*/

.about {
/*    margin-top: 80px;*/
    display: flex;
    justify-content: space-between;
}

.about_item {
    width: 380px;
    position: relative;
    margin: auto;
    background-color: #95874e;
}

.about_item:hover .about_img {
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img {
    opacity: .3;
}

.about_item:hover .about_text {
    opacity: 1;
}

.about_img {
    background: linear-gradient(to bottom, #565a3c, #b1a786);

    transition: transform .2s linear;
}

.about_img img {
    display: block;
    transition: opacity .1s linear;
}

.about_text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}


/*--------------------*/


.statistics{
    background-color: #565a3c;
}


.stat{
    display: flex;
}


.stat_item{
    flex: 1 1 0;
    border-left: 1px solid #8a9065;
    text-align: center;
    color:#c9bfad;
    padding: 70px 25px;
}

stat_item:last-child{
    border-right: 1px solid #8a9065;
}

.stat_count{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1;
}

.stat_text{
    font-size: 14px;
    text-transform: uppercase;
}

/*------------------------*/

.services{
    display: flex;

    margin: 35px 0;
}


.services_item{
    flex: 1 1 0;
    padding-top: 5px;
/*
    padding-left: 60px;
    padding-right: 20px;
*/
    position: relative;

}

.services_icon{
    position: absolute;
    top: 3px;
    left: 30px;
    z-index: 1;
}


.services_title{
    margin-bottom: 10px;
    font-size: 14px;
    color:#4d5035;
    text-transform: uppercase;
}

.services_text{
    font-size: 15px;
    color:#333;
    text-align: center;
}


hr{
    display: block;
    width: 100%;
    border: 0;
    color: #333;
    height: 6px;
    margin: 30px 0;
}
/*-------------------*/
/*
.text12{
    display: flex;
    left: 30px;
    right: 30px;
    padding-top: 10px;
    justify-content: space-between;
    margin-bottom: auto;

}

.t{
    position: sticky;
    display: block;
    background-color: burlywood;
    top: 3px;
    left: 30px;
    z-index: 1;
}
*/


.about {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    border-left: 40px;
}

.about_tt {
    width: 600px;
    height: 200px;
    position: relative;
    margin: auto;
    background-color: blanchedalmond;
}

.about_t t {
    display: block;
    margin-bottom: auto;
    /* vertical-align: top; */
}

.t{
    font-size: 14px;
    padding: 6px;
    top: 3px;
    left: 30px;
    z-index: 1;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 50px;
}
.header_inner{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header_logo{
    font-size: 40px;
    font-weight: 700;
    color: #817949;
    margin: 1 4px;
}

.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    color: #817949;
    margin: 0 15px;
    text-decoration: none;
    transition: color .2s linear;
    position: relative;

}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover{
    color: #95874e
}

.nav_link:hover:after {
    opacity: 1;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
}

a {
  color: #bc9e6b;
  text-decoration: none;
}

a:hover, a:focus {
  color: #967844;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  color: #161616;
  position: relative;
  font-weight: 400;
}

a {
  /* margin: 0; */
  padding: 0;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  position: relative;
  right: 0;
  left: 0px;
  margin: 0;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}


.maincontainer{
/*background-color: white;*/
width: 100%;
/* height: calc(100% - 180px); */
margin-top: 110px;
margin-bottom: 50px;
height: 100%;
padding: 25px;
}

.hlayout{
width: 100%;
height: 100%;
justify-content: center;
display: flex;
}

.vlayout{
display: block;
width: 70%;
height: 100%;
/*background-color: burlywood;*/
margin-right: 30px;
display: flex;
align-content: space-around;
flex-direction: column;
}

.hlayout1 {
/*background-color: #848070;*/
height: 55%;
width: 100%;
margin-bottom: 5%;
display: flex;
}

.component1{
background-color: #bcc6b6;
width: 45%;
height: 100%;
margin-right: 5%;
}

.component2{
background-color: #d8b8b8;
width: 55%;
height: 100%;
}

.map{
background-color: #957b7b;
width: 30%;
height: 100%;
/* margin: 40px; */
display: block;
/* margin-right: 30px;*/
}

.cmpshape{
border-radius: 40px;
/*opacity: 0.7;*/
}

.slider{
background-color: #c9bfad;
height: 75%;
width: 100%;
margin-top: 5%;
overflow: hidden;
position: relative;

}

.slider__line {
/* content: ""; */
/* position: inherit; */
/* top: 10px; */
/* right: 0px; */
/* width: 300%; */
/* display: inline-block; */
width: fit-content;
height: 100%;
/* background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); */
/* z-index: 1; */
display: flex;
align-items: center;
flex-wrap: nowrap;
flex-direction: row;
padding: 0px 10px;
z-index: 3;
white-space: nowrap;
position: relative;
transition: padding-left 150ms ease-in-out, margin-left 150ms ease-in-out;
}

/*.slider__line:nth-child(4) {
 background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}*/

/*///////////////////////////////////*/
.row{
background-color: #6e6060;
margin: 5px;
width: 116px;
height: 60%;
position: relative;
z-index: 1;
display: inline-block;
position: relative;
width: 167px;
height: 167px;
margin: 0 9px;
border-radius: 19px;
/* background: no-repeat center / cover; */
overflow: hidden;
}

.product_title {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #726c55;
    background-color: #f4f4f49e;
}

p.product_price {
    z-index: 1;
    position: relative;
    font-size: 19px;
    width: 100%;
    height: 20%;
    z-index: 1;
    margin: 55% 0px 0px 0px;
    background-color: rgb(255 255 255 / 50%);
    font-weight: bold;
    color: #6e6261;
    text-align: -webkit-right;
    padding-right: 10px;
}

.product-images {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

img.primary_image {
    width: 100%;
    height: 100%;
}
/*//////////////////////////////////////*/

.arrowToPrev{
position: absolute;
left: 1%;
top: 50%;
/*transform: translateY(-50%) rotate(90deg);*/
background-color: #d8b8b8;
border: none;
width: 25px;
height: 25px;
z-index: 4;
padding: 0;
background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m48%200h-48v48h48z%22%2F%3E%3Cg%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22m30.141%2014.797a3.5%203.5%200%201%200%20-5.282-4.594l-10%2011.5a3.5%203.5%200%200%200%200%204.594l10%2011.5a3.5%203.5%200%201%200%205.282-4.594l-8.003-9.203z%22%20fill%3D%22%23000%22%20opacity%3D%22.08%22%2F%3E%3Cpath%20d%3D%22m29.387%2014.14a2.5%202.5%200%200%200%20-3.774-3.28l-10%2011.5a2.5%202.5%200%200%200%200%203.28l10%2011.5a2.5%202.5%200%200%200%203.774-3.28l-8.574-9.86z%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.12%22%2F%3E%3Cpath%20d%3D%22m28.632%2013.484a1.5%201.5%200%200%200%20-2.264-1.968l-10%2011.5a1.5%201.5%200%200%200%200%201.968l10%2011.5a1.5%201.5%200%200%200%202.264-1.968l-9.144-10.516z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat center;
}

.arrowToNext{
position: absolute;
right: 2%;
top: 50%;
/*transform: translateY(-50%) rotate(90deg);*/
background-color: #d8b8b8;
border: none;
width: 25px;
height: 25px;
z-index: 4;
padding: 0;
background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%200h48v48h-48z%22%2F%3E%3Cg%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22m17.859%2014.797a3.5%203.5%200%201%201%205.282-4.594l10%2011.5a3.5%203.5%200%200%201%200%204.594l-10%2011.5a3.5%203.5%200%201%201%20-5.282-4.594l8.003-9.203z%22%20fill%3D%22%23000%22%20opacity%3D%22.08%22%2F%3E%3Cpath%20d%3D%22m18.613%2014.14a2.5%202.5%200%200%201%203.774-3.28l10%2011.5a2.5%202.5%200%200%201%200%203.28l-10%2011.5a2.5%202.5%200%200%201%20-3.774-3.28l8.574-9.86z%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.12%22%2F%3E%3Cpath%20d%3D%22m19.368%2013.484a1.5%201.5%200%200%201%202.264-1.968l10%2011.5a1.5%201.5%200%200%201%200%201.968l-10%2011.5a1.5%201.5%200%200%201%20-2.264-1.968l9.144-10.516z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat center;
}

@keyframes resize {
  from {
    width: 25px;
    height: 25px;
  }
  to {
    width: 30px;
    height: 30px;

  }
}

.arrowToNext:hover{
animation: resize;
animation-duration: 5s;
    border-radius: 30px;
    background-color: #f5f5f56b;
}

.arrowToPrev:hover{
animation: resize;
animation-duration: 5s;
    border-radius: 30px;
    background-color: #f5f5f56b;
}


/*.slider__wrapper{
display: flex;
column-gap: 10px;
position:absolute;
bottom: 5%;
left: 50%;
transform: translateY(-50%);
}

.slider_dot{
width: 10px;
height: 10px;
border: 1px solid white;
}

.active-dot{}*/
