<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!--<%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--        <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>-->
    <!--        <link rel="stylesheet" type="text/css" href="assets/vendor/owl-slider.css"/>-->
    <!--        <link rel="stylesheet" type="text/css" href="assets/vendor/settings.css"/>-->
    <link th:href="@{LoginPage/login_page.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300' rel='stylesheet' type='text/css'>
    <title>Login</title>
</head>
<body>
<div class="wrappage">
    <header th:insert="pattern :: header"></header>
    <!-- End banner -->
    <div class="container container-ver2">
        <div class="page-login box space-50" sec:authorize="!isAuthenticated()">
            <div class="row">
                <div class="col-md-6 sign-in space-30" >
                    <h3>sign in</h3>
                    <p>Hello, welcome to your account.</p>

                    <div th:if="${param.logout}">
                        You have been logged out.</div>
<!--                    <form class="form-horizontal" method="POST" th:action="@{/Account}" modelAttribute="userData" >-->
                    <form class="form-horizontal" method="POST" th:action="@{/Account}" >
<!--                    <form class="form-horizontal" method="POST" action="/login">   -->
                        <div class="group box space-20">
                            <label class="control-label" for="inputemail">LOGIN</label>
                            <input class="form-control" type="text" placeholder="Username" id="inputemail" name="username">
                        </div>
                        <div class="group box">
                            <label class="control-label" for="inputpass">PASSWORD</label>
                            <input class="form-control" type="password" placeholder="Password" id="inputpass" name="password">
                        </div>

                        <div class="group box space-20" th:if="${param.error}">
                            Неправильные имя или пароль.
                        </div>

<!--                        <div th:if="${notFound}" th:text="${notFound}"></div>-->
<!--                        <div class="remember">-->
<!--                            <input id="remeber" type="checkbox" name="check" value="remeber">-->
<!--                            <label for="remeber" class="label-check">remember me!</label>-->
<!--                            <a class="help" href="#" title="help ?">Fogot your password?</a>-->
<!--                        </div>-->
                        <button type="submit" class="link-v1 rt">LOG IN</button>
                    </form>
                    <!-- End form -->
                    <h3 class="simpleh3">or</h3>
                    <a href="/Registration" class="link-v1 rt sign-up">SIGN UP</a>
                </div>
                <!-- End col-md-6 -->
                <!--                <div class="col-md-6">-->
                <!--                    <div class="register box space-50">-->
                <!--                        <h3>Create A New Account</h3>-->
                <!--                        <p>Create your own Rimbus account.</p>-->
                <!--                        <form class="form-horizontal" method="POST">-->
                <!--                            <div class="group box space-20">-->
                <!--                                <label class="control-label" for="inputemailres">Email Adress</label>-->
                <!--                                <input class="form-control" type="text" placeholder="Your email" id="inputemailres" name="email">-->
                <!--                            </div>-->
                <!--                            <button type="submit" class="link-v1 rt">Sign Up</button>-->
                <!--                        </form>-->
                <!--                    </div>-->
                <!--                    &lt;!&ndash; End register &ndash;&gt;-->
                <!--                    <div class="sigg-to-day box">-->
                <!--                        <h3>SIGN UP TODAY</h3>-->
                <!--                        <form class="form-horizontal" method="POST">-->
                <!--                            <div class="checkbox">-->
                <!--                                <input id="check1" type="checkbox" name="check" value="check1">-->
                <!--                                <label class="label-check" for="check1">Speed your way through the checkout.</label>-->
                <!--                                <input id="check2" type="checkbox" name="check" value="check2">-->
                <!--                                <label class="label-check" for="check2">Track your orders easily.</label>-->
                <!--                                <input id="check3" type="checkbox" name="check" value="check3">-->
                <!--                                <label class="label-check" for="check3">Keep a record of all purchases.</label>-->
                <!--                            </div>-->
                <!--                        </form>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!-- End col-md-6 -->
            </div>
        </div>
        <div class="page-login box space-50" sec:authorize="isAuthenticated()">
            <div class="row">
                <div class="col-md-6 sign-in space-30" >
                    <span sec:authentication="principal.username"></span>
                    <div>
                    <a th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-login box space-50" sec:authorize="hasRole('ADMIN')">
            <div class="row">
                <div class="col-md-6 sign-in space-30" >
                    <div sec:authentication="name"></div>
                    <div sec:authentication="principal.authorities"></div>
                    <div>
                        <a th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <!-- End col-md-6 -->
<!--                <div class="col-md-6">-->
<!--                    <div class="register box space-50">-->
<!--                        <h3>Create A New Account</h3>-->
<!--                        <p>Create your own Rimbus account.</p>-->
<!--                        <form class="form-horizontal" method="POST">-->
<!--                            <div class="group box space-20">-->
<!--                                <label class="control-label" for="inputemailres">Email Adress</label>-->
<!--                                <input class="form-control" type="text" placeholder="Your email" id="inputemailres" name="email">-->
<!--                            </div>-->
<!--                            <button type="submit" class="link-v1 rt">Sign Up</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End register &ndash;&gt;-->
<!--                    <div class="sigg-to-day box">-->
<!--                        <h3>SIGN UP TODAY</h3>-->
<!--                        <form class="form-horizontal" method="POST">-->
<!--                            <div class="checkbox">-->
<!--                                <input id="check1" type="checkbox" name="check" value="check1">-->
<!--                                <label class="label-check" for="check1">Speed your way through the checkout.</label>-->
<!--                                <input id="check2" type="checkbox" name="check" value="check2">-->
<!--                                <label class="label-check" for="check2">Track your orders easily.</label>-->
<!--                                <input id="check3" type="checkbox" name="check" value="check3">-->
<!--                                <label class="label-check" for="check3">Keep a record of all purchases.</label>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- End col-md-6 -->
            </div>
        </div>
    </div>

</div>
</body>

</html>

<!--<div class="group box space-20">-->
<!--    <label class="control-label">Full text</label>-->
<!--    <textarea class="form-control" placeholder="Add full text" name="fullText"></textarea>-->
<!--    &lt;!&ndash;                        <textarea class="form-control">                        {{ form.full_text }}<br>&ndash;&gt;-->
<!--</div>-->