<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{/LoginPage/reg_page.css}" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300' rel='stylesheet' type='text/css'>
    <title>Sign Up</title>
</head>
<body>
<header th:insert="~{pattern :: header}"></header>
<!--~{pattern :: header}-->

<div class="container container-ver2">
    <h1>Registration</h1>
    <!--        метод передачи данных (get, post)-->
    <div class="container-news">
<!--        <form class="form-horizontal" method="POST" modelAttribute="user" th:action="@{/Registration}" th:object="${user}">-->
        <form class="form-horizontal" method="POST" th:action="@{/Registration}" th:object="${user}" modelAttribute="user">
            <div class="group box space-20">
                <label class="control-label">Username</label>
                <input class="form-control" placeholder="Username" name="username" type="text" th:field="*{username}">
                <label class="control-label" th:text="${usernameError} ?: ''"></label>
            </div>

            <div class="group box space-20">
                <label class="control-label">Password</label>
                <input class="form-control" name="password" type="password" th:field="*{password}">
            </div>

            <div class="group box space-20">
                <label class="control-label">Confirm password</label>
                <input class="form-control" name="matchingPassword" type="password" th:field="*{matchingPassword}">
                <label class="control-label" th:text="${passwordError} ?: ''"></label>
            </div>

            <div class="group box space-20">
                <label class="control-label">Enter email</label>
                <input class="form-control" name="email" type="email" th:field="*{email}"></input>
            </div>

            <div class="errorText" th:text="${errorText} ?: ''"></div>

            <button class="link-v1 color-brand" title="Add" type="submit">Next Step</button>
        </form>
    </div>

</div>

</body>
</html>

