<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{/CatalogPage/catalog_page.css}" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300' rel='stylesheet' type='text/css'>
<!--    <title>{% block title %}Catalog{% endblock %}</title>-->
    <title>Catalog</title>
</head>
<body>
    <header th:insert="pattern :: header"></header>

    <div class="container">

    <div id="sidebar" class="cat_menu">

<!--        <h1 id="catalog_header">{% if cat %}{{ cat.name }}{% else %}Products{% endif %}</h1>-->
        <div class="horizontal-layout">
            <h1 id="catalog_header" th:text="${catlabel} ?: 'Products'"></h1>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a class="link-v1 color-brand add-new" href="/Catalog/add">Add new</a>
            </div>
        </div>



<!--        <h3>Categories</h3>-->
        <ul class="cat_list">
                    <li th:class=" ${catlabel} ? null: 'selected'">
                    <a href="/Catalog" class="catlist_item">Все</a>
                    </li>
              <div th:each="c : ${categories}">
<!--                     <li th:if ="${catlabel == c.label}" class="selected">-->
                     <li th:class="${catlabel == c.label} ? 'selected' : ''">
<!--                     <li th:if="${catlabel} == ${c.label}" class="selected">-->
                     <a th:href="'/Catalog/category' + ${c.id}" class="catlist_item" th:text="${c.label}"></a>
                     </li>
<!--                  <li th:unless="${catlabel} != ${c.label}">-->
<!--                      <a th:href="'/Catalog/category' + ${c.id}" class="catlist_item" th:text="${c.label}"></a>-->
<!--                  </li>-->
              </div>
        </ul>
        <div class="ordering">

                   <form action="#" method="get" class="order-by">
                         <p>Sort by :</p>
                            <select class="orderby" name="orderby">
                                <option>popularity</option>
                                <option selected="selected">average rating</option>
                                <option>newness</option>
                                <option>price: low to high</option>
                                <option>price: high to low</option>
                            </select>
                   </form>
        </div>
    </div>

    <div class="products ver2 grid_full hover-shadow">

<!--         <div class="item-inner" th:each="i : ${products}">-->
<!--              <div class="product">-->
<!--                  <div class="product-images">-->
<!--&lt;!&ndash;                            <p th:if = "${not i.isAvailable}" id="no_av_label">No available</p>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a th:href="'Catalog/detail' + ${i.pk}" title="productEnt-images">&ndash;&gt;-->
<!--                                <img th:src="${i.imgUrl} ?: 'https://loremflickr.com/250/250/abstract,pastel/all?random='+${i.pk}" alt=""-->
<!--                                     th:class="${i.isAvailable} ? 'primary_image' : 'img_no_av'"/>-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--                  </div>-->
<!--                        <a th:href="'/Catalog/detail' + ${i.pk}"><p class="product_title" th:text="${i.name}"></p></a>-->
<!--&lt;!&ndash;                        <hr id="line">&ndash;&gt;-->
<!--                        <p class="product_price" th:text="${i.price} + ' $$$'"></p>-->

<!--              </div>-->
                    <!-- End productEnt -->

        <div class="grid-row" >
            <div class="product1" th:each="i : ${products}">
                <div class="product--card">
                    <a class="product--image" th:href="'Catalog/detail' + ${i.pk}" title="View">
                        <p th:if = "${not i.isAvailable}" id="no_av_label">No available</p>
                        <!--                    <a th:href="'Catalog/detail' + ${i.pk}" title="productEnt-images">-->
<!--                        <img class="img-responsive" th:src="${i.imgUrl} ?: 'https://loremflickr.com/250/250/abstract,pastel/all?random='+${i.pk}" >-->
                        <!--                    </a>-->
                        <img class="img-responsive" th:src="'/' + ${i.imgUrl}" >
                    </a>
                    <hr id="line">
                    <a class="product_title" th:href="'/Catalog/detail' + ${i.pk}" title="View" th:text="${i.name}"></a>
                    <p class="product_price" title="View" th:text="${i.price} + ' $$$'">
                        <!--                    <span class="product&#45;&#45;price-inner">-->
                        <!--                        <div class="price&#45;&#45;rrp">Don't pay $27.21</div>-->
                        <!--                        <div class="price&#45;&#45;sell-price">$13.99</div>-->
                        <!--                    </span>-->
                    </p>
                </div>
            </div>
        </div>


         </div>
<!--                {% endfor %}-->
    </div>
            
        <div class="pagination-container" th:if="${totalPages > 1}">
              <nav class="pagination align-right">
<!--                 <a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a>-->
                 <span class="page-numbers" th:each="i: ${#numbers.sequence(1, totalPages)}">
                     <a th:if="${currentPage != i}" th:href="@{'/Catalog/page/' + ${i}}" class="page-numbers" >[[${i}]]</a>
                     <span th:unless="${currentPage != i}" class="page-numbers current">[[${i}]]</span>
                 </span>
                 <a th:if="${currentPage < totalPages}" th:href="@{'/Catalog/page/' + ${currentPage + 1}}" class="fa fa-angle-right">NEXT</a>
<!--                 <span th:unless="${currentPage < totalPages}" class="page-numbers current">NEXT</span>-->
                 <a th:if="${currentPage < totalPages}" th:href="@{'/Catalog/page/' + ${totalPages}}" class="page-numbers" >LAST</a>
<!--                     <span th:unless="${currentPage > totalPages}" class="page-numbers current">LAST</span>-->


    <!--              <div class = "col-sm-1">-->
    <!--                  <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>-->
    <!--                  <span th:unless="${currentPage < totalPages}">Next</span>-->
    <!--              </div>-->

    <!--              <div class="col-sm-1">-->
    <!--                  <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>-->
    <!--                  <span th:unless="${currentPage < totalPages}">Last</span>-->
    <!--              </div>-->

              </nav>
        </div>
    </div>




<!--    <div class="grid">-->
<!--        <div class="product1" th:each="i : ${products}">-->
<!--            <img th:src="${i.imgUrl} ?: 'https://loremflickr.com/250/250/abstract,pastel/all?random='+${i.pk}" />-->
<!--            <h6 th:href="'Catalog/detail' + ${i.pk}" th:text="${i.name}"></h6>-->
<!--            <p th:text="${i.price} + ' $$$'"></p>-->
<!--        </div>-->
<!--    </div>-->



</body>
</html>